.idea/
.eggs/
build/
dist/
*.egg-info/
.mypy_cache/
.pytest_cache/
htmlcov/
.coverage
*.pyc
swig/*
!swig/test*.c
!swig/test*.h
!swig/*.i
driver_tester/sensirion*.py
driver_tester/*.pyd
driver_tester/*.so
